@{
    ViewBag.Title = "Home Page";
}
<h1>Please Log In</h1>
Username: <input type="text" name="username" id="username"/>
Password: <input type="text" name="password" id="password"/>
<input type="submit" value="" id="submit"/>
